{% extends 'layout.html' %}
  
{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
 
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Cleaned Data on Stroke - Classification Dataset</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>ID Number</th>
                <th>Age</th>
                <th>Hypertension</th>
                <th>Heart Disease</th>
                <th>Glucose Level</th>
                <th>BMI</th>
                <th>Stroke</th>
              </tr>
              </thead>
              <tbody>
                {% for stroke in strokes %}
                <tr>
                    <td>{{ stroke.id }}</td>
                    <td>{{ stroke.age }}</td>
                    <td>
                      {% if stroke.hypertension == 1 %}
                        Yes
                      {% else %}
                        No
                      {% endif %}
                    </td>
                    <td>
                      {% if stroke.heart_disease == 1 %}
                        Yes
                      {% else %}
                        No
                      {% endif %}
                    </td>
                    <td>{{ stroke.glucose }}</td>
                    <td>{{ stroke.bmi }}</td>
                    <td>
                      {% if stroke.stroke == 1 %}
                        Yes
                      {% else %}
                        No
                      {% endif %}
                    </td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div><!-- /.container-fluid -->

      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Cleaned Data on Cholesterol - Regression Dataset</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>ID Number</th>
                <th>Age</th>
                <th>Systolic BP</th>
                <th>Diastolic BP</th>
                <th>BMI</th>
                <th>Heart Rate</th>
                <th>Glucose Level</th>
                <th>Total Cholesterol</th>
              </tr>
              </thead>
              <tbody>
                {% for cholesterol in cholesterols %}
                <tr>
                    <td>{{ cholesterol.id }}</td>
                    <td>{{ cholesterol.age }}</td>
                    <td>{{ cholesterol.sys_bp }}</td>
                    <td>{{ cholesterol.dia_bp }}</td>
                    <td>{{ cholesterol.bmi }}</td>
                    <td>{{ cholesterol.heart_rate }}</td>
                    <td>{{ cholesterol.glucose }}</td>
                    <td>{{ cholesterol.tot_chol }}</td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}